# BANCO-DE-DADOS
## BANCO LOCAL (DEVE SER CRIADO USANDO O COMPOSE DO REPOSITORIO DATABASE) NÃO PRECISA DE ALTERAÇÃO
#DATABASE_HOST=localhost
#DATABASE_USERNAME=root
#DATABASE_PASSWORD=rootpassword
#DATABASE_DB=app_db
#DATABASE_PORT=3306

## BANCO DE DESENVOLVIMENTO
DATABASE_HOST=mysql-banco-dev-lp.alwaysdata.net
# ADICIONE AS CREDENCIAIS
DATABASE_USERNAME=USERNAME
DATABASE_PASSWORD=SENHA
DATABASE_DB=banco-dev-lp_bortonedev
DATABASE_PORT=3306

# JWT SECRET
JWT_SECRET=SEGREDO_SUPER_SECRETO

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=cloud_name
CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=api_secret
CLOUDINARY_FOLDER=app_despachante

# Criptografia do nome do documento
# Se precisar gerar uma nova rode o comando: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
CRYPTO_SECRET=729d98e555dd32d8b0232a88002c337dfc115f06373c56003895bb8b7390466e

#(SMTP GMAIL)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=seuemail@gmail.com
EMAIL_PASS=sua-chave-de-app
## Email que vai RECEBER os contatos
CONTACT_EMAIL=contato@empresa.com

