# =========================
#(DEV)
# =========================
DATABASE_HOST=mysql-banco-dev-lp.alwaysdata.net
DATABASE_PORT=3306
DATABASE_USERNAME=USERNAME
DATABASE_PASSWORD=SENHA
DATABASE_DB=banco-dev-lp_bortonedev

# =========================
#(SMTP GMAIL)
# =========================
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false

EMAIL_USER=seuemail@gmail.com
EMAIL_PASS=sua-chave-de-app

# Email que vai RECEBER os contatos
CONTACT_EMAIL=contato@empresa.com